.progress-enter-active {
  padding-right: 100%;
  color: red;
  background-color: red;
  transition: padding-right 3s, color 3s, background-color 3s;
  transition-timing-function: linear;
}
.progress-exit {
  color: blue;  
  background-color: blue;
  padding-right: 0%;
}
